body {
	background: url('../img/city2.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	height: 100vh;
}

#logo {
	padding: 10px;
	img {
		display: block;
		margin: 0 auto;
		max-width: 70%;
	}
}

#startpage, #content_map {
	background-color: rgba(250,250,250,.7);
	display: block;
	font-family: "Neucha";
	margin: 0 auto;
	text-align: center;
}

#startpage {
	padding: 20px;
	width: 80%;
	input {
		margin-bottom: 20px;
	}
}

#wrapper_map {
	.menu {
		.fa-bars{
			font-size: 2em;
			color: #EB3B83;
		}
		#menu_content {
			display: none;
			background-color: rgba(250,250,250,.7);
			padding: 2% 0;
			ul {
				list-style-type: none;
				width: 100%;

				li {
					display: block;
					margin-top: 2%;
					text-align: center;
					text-transform: uppercase;

					a {
						text-decoration: none;
						text-transform: uppercase;
						color: black;
					}				
				}
			}	
		}	
	}

	#content_map {
	height: 85vh;
	margin-bottom: 20px;
	width: 100%;
		#map {
			height: 70vh;
			margin: 0 auto;
			margin-top: 30px;
			width: 300px;
		}

		#new_pin {
			display: block;
			margin: 0 auto;
			margin-top: 10px;
		}
	}
}

#registrate{
	background-color: rgba(250,250,250,.7);
	height: 70vh;
	margin: 0 auto;	
	width: 300px;

	form{
		
		input{
			margin: 3%;	
		}
	}	
}
